@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Address finder</h1>
    <p class="lead">With this application you can find the address of a supermarket. Click in the menu bar to go to the section with search function for the supermarkets.</p>
</div>